@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

.navbar *, h1 {
  font-family: "Zen Antique", serif;
}

* {
  font-family: "Hina Mincho", serif;
  color: #313131;
}
